/* Stylelint: It is okay to hide things since this is a hideable notification */
/* stylelint-disable a11y/no-display-none */

/* Default styles for air-notification WordPress plugin */
:root {
  --air-notification-bg: #fafafa;
  --air-notification-border: lightgray;
  --air-notification-color: #1d1d1d;
}

/* Define styles for different notification styles */
.air-notification.air-notification--alert {
  --air-notification-border: rgb(210, 59, 59);
  --air-notification-bg: #853939;
  --air-notification-color: #fafafa;
}

/* Default notification styles */
.air-notification {
  align-items: center;
  background-color: var(--air-notification-bg);
  border: 1px solid var(--air-notification-border);
  color: var(--air-notification-color);
  display: none;
  position: relative;
  transition: opacity .3s ease-in;
}

/* Close button */
.air-notification button {
  background-color: var(--air-notification-border);
  color: var(--air-notification-color);
  padding: 0;
  position: absolute;
  right: 0;
}

.air-notification button:hover,
.air-notification button:focus {
  background-color: var(--air-notification-color);
  color: var(--air-notification-border);
}

/* Close icon */
.air-notification button svg {
  height: 1.2rem;
  pointer-events: none;
}

/* Prepend and append */
.air-notification__prepend {
  margin-right: .2rem;
}

/* Functionality */
.air-notification.show {
  display: flex;
}

.air-notification.show.closing {
  opacity: 0;
}

.air-notification.show.closing.dismissed {
  display: none;
}
